/* Extra styles for each object in my website. */

:root {
  --text-color: #ffffff;
  --main-color: #00aae8;
  --p-font: 1.1rem;
}

.social-icon-linkedin {
  color: #00a0dc;
  transition: color 0.2s;
  text-decoration: none;
}
  
.social-icon-github {
  color: #999999;
  transition: color 0.2s;
  text-decoration: none;
}

/* Make icon turn white when hovering over it */
.social-icon-linkedin:hover {
  color: #ffffff;
}

/* Make icon turn white when hovering over it */
.social-icon-github:hover {
  color: #ffffff;
}

.home-text {
  font-size: 150px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 30px;
}

/* Profile picture settings */
.home-img {
  height: auto;
  width: 450px;
  max-width: 30%;
  position: relative;
  display: flex;
  top: 50%;
  left: 81%;
  transform: translate(-50%, -50%);
  border-image: linear-gradient(rgba(4,189,228,1), rgba(2,83,185,1)) 30;
  border-width: 4px;
  border-style: solid;
}


/* Media settings change the profile picture dimensions and positions as the window shrinks */
@media screen and (max-width: 1200px) {
  .home-img {
    position: relative;
    top: 350px;
    left: 975px;
    width: 300px;
  }
}

@media screen and (max-width: 1135px) {
  .home-img {
    position: relative;
    top: 600px;
    left: 825px;
    width: 450px;
  }
}

@media screen and (max-width: 1000px) {
  .home-img {
    position: relative;
    top: 600px;
    left: 690px;
    width: 450px;
  }
}

/* After a certain window size (including phones), make the profile picture disappear */
@media screen and (max-width: 850px) {
  .home-img {
    display: none;
  }
}

/* Profile LOGO (not profile picture) */
.Logo {
  background-image: url(../profile-img.svg);
}

.social-icons-container {
  position: relative;
  margin-top: 48px;
}

/* Download Resume button settings */
.resume-loader {
  padding: 9px 30px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: var(--p-font);
  margin-right: 15px;
  margin-left: 10px;
  position: relative;
  bottom: 67px
}

.resume-loader:hover {
  background: var(--main-color);
}

.gray-text {
  color: #C0C0C0;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.extend-width {
  width: 500px;
}

@media screen and (max-width: 767px) {
  .resume-loader {
    font-size: 14px; 
    bottom: 69px;
  }

  .extend-width {
    width: auto;
  }
}