/* Styles for each object in my website. */

:root {
  --text-color: #ffffff;
  --main-color: #00aae8;
  --p-font: 1.1rem;
}

.social-icon-linkedin {
    color: #00a0dc;
    transition: color 0.2s;
    text-decoration: none;
  }
  
  .social-icon-github {
    color: #999999;
    transition: color 0.2s;
    text-decoration: none;
  }
  
  .social-icon-linkedin:hover {
    color: #ffffff;
  }
  
  .social-icon-github:hover {
    color: #ffffff;
  }
  
  .home-text {
    font-size: 150px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 30px;
  }

  .home-img {
    height: auto;
    width: 450px;
    max-width: 50%;
    position: relative;
    display: flex;
    top: 50%;
    left: 81%;
    transform: translate(-50%, -50%);
    border-image: linear-gradient(rgba(4,189,228,1), rgba(2,83,185,1)) 30;
    border-width: 4px;
    border-style: solid;
  }

  @media screen and (max-width: 1150px) {
    .home-img {
      position: relative;
      top: 750px;
      left: 500px;
      right: 500px;
    }
  }

  .Logo {
    background-image: url(../profile-img.svg);
  }

  .social-icons-container {
    position: relative;
    margin-top: 48px;
  }

  .resume-loader {
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    margin-right: 15px;
    margin-left: 10px;
    position: relative;
    bottom: 67px
  }

  .resume-loader:hover {
    background: var(--main-color);
  }




  